#--------------------------------------------------------------------------------
# service.yml
#--------------------------------------------------------------------------------
service.singletons:
  - com.networknt.utility.Decryptor:
      - com.networknt.decrypt.AESDecryptor
  - com.networknt.balance.LoadBalance:
      - com.networknt.balance.RoundRobinLoadBalance
  - com.networknt.cluster.Cluster:
      - com.networknt.cluster.LightCluster

server.enableHttp: true
server.enableHttps: false
